$black: #000000;
$dark-grey: #080808;
$medium-grey: #141414;
$light-grey: #a9a9a9;
$white: #ffffff;

$dark-orange: #FD5901;
$medium-orange: #F78104;
$yellow: #FAAB36;

$dark-blue: #000018;

$purple : #8b51ad;
$dark-purple: #3F1651;